.mpuzzle-container{
  display:grid;
  height: 100%;
  width:100%;
  grid-template-rows: 15% 68% 10% 7%;
  grid-template-areas: 
  'header'
  'puzzle'
  'fonts'
  'button';
  
  height: 100%;
  width: 100%;
}

.memory-header-ui{
  grid-area:header
}

.memory-button-ui{
  grid-area:button
}
.max-height-width{
  width: 100%;
  height: 100%;
}
.memory-puzzle-container{
  display:grid;
  grid-template-columns: repeat(5,14%);
  grid-row-gap:2%;
  grid-column-gap: 1%;
  margin-top:1%;
  height: 90%;
  width: 100%;
  justify-content:center;
  place-self: start;
  grid-area:puzzle;
}

.fonts{
  font-size:4rem !important;
  grid-area:fonts;
  
}
.card-body {
 height: 100%;
 width: 100%;
 background-color: #D4EDF4;
 border-radius: 10px;
 display:inline-block;
}

.card-body:hover {
  transition: height 150ms 150ms;
  background-color: #C3D7DF;
}

header{
  min-height: 5vh !important;
  font-size:2rem !important;
}
@media only screen and (max-height:1000px){
  .fonts{
    font-size:2rem !important;
 
  }
}
@media only screen and (max-width: 740px) and (max-height:420px){
  .fonts{
    font-size:1.5rem !important;
 
  }
  .memory-puzzle-container{
    height: 80%;
    width:100%;
    align-self:end;
  }
}

