.experience-container{
    position: relative;    
    width:100%;
    margin-top:5%;
    margin-bottom:3%;
}



.top-space{
    margin-top:10%;
}

.item-container{
    margin:0 0 0 5%;
    display:inline-block;
    position: relative;
    width: 90%;
    
  
}

.main-title{
    margin:0 0 2% 1% ;
    padding:0 2% 0 0;
}

.second-title{
    color:#C39BD3;
    padding: 0 0 0 40px;
  
}

.resume-text{
    padding-left:0;
    width:100%;
}

.year-of{
    
  
    margin:0;
    padding:0 0 1% 0;
    font-size: 16px;
    font-weight: normal;
    color:lightgray;
}


.title{
    margin:0;
    padding:0 0 0 1%;
    color:white;
}

.inner-exp-cont{
    display:flex;
}

.text{
    margin-top:0;
    margin-bottom:4%;
    color:rgba(255,255,255, 0.5);
    font-size: 18px;
}

.text-title-resume{
    margin-left:1%;
    margin-top:0;
    margin-bottom:4%;
    color:rgba(255,255,255, 0.5);
    font-size: 18px;
    width:100%;
}

.text-container{
    width:100%;
}

.border-ui{
    border-left:2px solid rgba(195,155,211, 0.4);
    margin-bottom:2%;
    margin-left:1%;
    padding-left: 2%
}

.circle::before{
    content:'';
    position: absolute;
    border-top:2px solid white;
   
}

/* .item-container::before{
    content:'';
    position: absolute;
    top:-12px;
    margin-left:-48px;
    border:2px solid white;    
    border-radius:50%;
    height:10px;
    width:10px;
   
}
*/
/* .item-container::after{
    content:'';
    position: absolute;
    top:-30%;
    border-top:20px solid white;
    margin-left:-42px;
    width: 2px;
    
}
  */
