.sidebar {
    position: sticky;
    display:grid;
    height:100vh;
    width:13vw;
    background-color:  rgba(0, 0, 0, 0.5);
    margin:0;
    padding:0;
    top: 0;
    bottom:0;
    grid-template-rows: 20% 74% 5%;
    grid-template-columns: 100%;
    float: left;
    right: 10px;
    border-right: 1px solid rgba(195,155,211, 0.3);
    justify-content: center;
    align-items: center;
}

.full-container{
    display:flex;
}

.small-sidebar {
    position: fixed;
    height:100%;
    display:grid;
    background-color:  rgba(0, 0, 0, 0.9);
    margin:0;
    padding:0;
    top: 0;
    bottom:0;
    z-index:200;
    animation-name: small-sidebar-slide-in;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}



.icon-size{
    color:white;
    font-size:900% !important;
    margin-top:1.5%;
    border: 2px solid rgba(195,155,211, 0.3);
    border-radius:50%;
    margin:0 auto;
}

.picture-sidebar-container{
    display:flex;
    align-items: center;
    height: 100%;
    border-bottom:1px solid rgba(195,155,211, 0.4);
}

.third-title{
    color:#C39BD3;
}

/* .thumbnail-container{
    height:32vh;
    width:19vw;
    margin-top:1%;
    margin-bottom:9.5%;
   
} */
.thumbnail{
    margin-left:10.5%;
    height:30%;
    width:74%;
    border-radius: 50%;
    border: 6px solid rgba(195,155,211, 0.3);
    margin-bottom:1%;
    margin-top:8%;
}
/* .thumbnail{
    position: relative;
    top:1.5%;
    left:10.5%;
    height:28vh;
    width:14vw;
    border-radius: 50%;
    border: 6px solid rgba(195,155,211, 0.3);
    margin-bottom:4%;
    margin-top:2%;
} */

.menu-ul{
    color:lightgray;
    padding-left: 0;
    list-style-type:none;
    margin:0;
}
.text-link {
    color: inherit;
    text-decoration: inherit;
}

.grid-last-ele{
    height: 100%;
    border-top:1px solid rgba(195,155,211, 0.3);
}

.menu-li{
    color:lightgray;
    list-style-type:none;
    width: 0;
    height: 46px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    font-size:16px;
    letter-spacing: 1px;
    transition-property: width;
    background-color:rgba(195,155,211, 0.3); 
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
 
}

.active{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:white;
    background:#C39BD3;
    width: 100%;
    height: 46px;
    cursor:pointer;
    z-index:202;
}
@keyframes small-sidebar-slide-in{
    0%{
        width:0;
    }
    100%{
        width:100%;
    }
}


.test{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width:100%;
    padding-bottom:3px;
    z-index:202;
}


.menu-li:hover:not(.active){
    cursor:pointer;
    background-color:rgba(195,155,211, 0.3); 
    width:100%;
    color:#C39BD3
}

.sidebar-icons-ui{
    position: absolute;
    left:4%;
    font-size:2rem !important; 
}

@media only screen and (max-width: 1200px){
    .thumbnail{
        margin-left:10.5%;
        height:20%;
        width:74%;
        border-radius: 50%;
        border: 6px solid rgba(195,155,211, 0.3);
        margin-bottom:1%;
        margin-top:8%;
    }
    .icon-size{
        color:white;
        font-size:800% !important;
        border: 2px solid rgba(195,155,211, 0.3);
        border-radius:50%; 
    }
}
    
@media only screen and (max-width: 1100px) {

.thumbnail{
    margin-left:9%;
    height:8%;
    width:74%;
    border-radius: 50%;
    border: 2px solid rgba(195,155,211, 0.3);
    margin-bottom:2%;
    margin-top:40%;
    font-size:0;
    
    }

    .small-sidebar{
        display: none;
    }
   

    .icon-size{
        
        color:white;
        font-size:250% !important;
        border-radius: 50%;
        
        border: 2px solid rgba(195,155,211, 0.3);
        
    }
    .menu-li{
        font-size: 0;
        width: 100%;
        background:rgba(0, 0, 0, 0)
        
    }
    .active{

        background:#C39BD3;
   
    }
    
        .sidebar-container{
            position: sticky;
        
        height:100vh;
        width:15vw;
        pointer-events: none;
        margin:0;
        padding:0;
        top: 0;
        bottom:0;
        width:0;
    float: left;
    right: 10px;
        }

      .sidebar {
        position: fixed;
        grid-template-rows: 20% 70% 10%;
        max-width: 64px;
        z-index:9;
        float:left;
        left:0;
        pointer-events: all;
    }
    .test{
        position: relative;
        width: 100%;
    }
   

    .menu-ul{
        display: flex;
    justify-content: center;
    flex-direction: column;
        margin:0;
    }

    
    .sidebar-icons-ui{
        margin-left:20%;
    }
    
}
@media only screen and (max-height: 760px) and (max-width:700px){
   .icon-size{
    color:white;
    margin-top:20%;
    font-size:200% !important;
    border-radius: 50%;
    border: 2px solid rgba(195,155,211, 0.3);
    
    }
   .menu-ul{
       height: 90%;
       
   }
   .sidebar-icons-ui{
    margin-left:20%;
}
}

@media only screen and (max-width: 500px){
    .small-sidebar{
        display: grid;
    }
    .test{
        position:absolute;
        width:100%;
    }
    .sidebar {
        display: none;
        
    }
    .thumbnail{
        border:none
       
        
    }
    .sidebar-icons-ui{
        display: none;
    }
    

  .sidebar-button-ui-container{
    position: fixed;
    background-color: transparent;
    width: 8%;
    height: 4.8%;
    top:5%;
    left:4%;
    border-radius:50%;
    z-index:202;
  
}

.sidebar-button-ui-container:active{
    animation-name: sidebar-button-ani;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes inactive{
 
 
    100%{
        color:lightgray
}
}

@keyframes active-one{
   
 
    100%{
        color:white
    }
}

@keyframes sidebar-button-ani{
    0%{
        background-color:transparent
    }
 
    100%{
        background-color: rgba(195,155,211, 1);
    }
}

    .menu-ul{
        
    color:lightgray;
    z-index:201;
    padding:0;
    
}
.sidebar-button-ui{
    position: absolute;
    background-color: #C39BD3;
    width: 20px;
    top:48%;
    left:18%;
    height: 2px;
}
   
.sidebar-button-ui::before{
    content: "";
    position: absolute;
    background-color: #C39BD3;
    width: 20px;
    height: 2px;
    top:5px;
}

.sidebar-button-ui::after{
    content: "";
    position: absolute;
     background-color: #C39BD3;
    width: 20px;
    height: 2px;
    bottom:5px;
}    

.menu-li{
    color:transparent;
    list-style-type:none;
    width: 0;
    height: 46px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
    font-size:16px;
    z-index:201;
    letter-spacing: 1px;
    transition-property: width;
    background-color:rgba(195,155,211, 0.8); 
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    animation-name: inactive;
    animation-duration: 0.1s;
    animation-delay:0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.active{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:none;
    background:#C39BD3;
    width: 100%;
    height: 46px;
    cursor:pointer;
    z-index:202;
    animation-name: active-one;
    animation-delay:0.2s;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    }
}

@media only screen and (max-height: 760px){
    .icon-size{
        color:white;
        font-size:200% !important;
        border-radius: 50%;
        border: 2px solid rgba(195,155,211, 0.3);
        }
}
