.typing-container{
    display:grid;
    grid-template-rows: 7.5% 40% 52.5%;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "header"
    "display"
    "keyboard";
}

.keyboard-container{
    background-color: #111110;
    display:grid;
    align-self: start;
    grid-area: keyboard;
    align-content: start;
    justify-self: center;
    width:89.3%;
    height: 84%;
    position: relative;
}

.display-area{
    grid-area: display;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 41.5% 16.5% 42%;
    grid-template-areas: 
    "results others display"
}

.keyboard-container:focus { outline: 0; }

.grid-container{
    display:grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, 2.28vw);
    grid-template-rows: repeat(auto-fill, 2.28vw);
    padding-left:6%;
    padding-bottom: 4px;
    grid-gap: 4px;
}
.keyboard-container::after{
    content: "";
    position: absolute;
    bottom:-25px;
    width:95.3%;
    border-bottom: 25px solid #111110;
    transform:rotate(180deg);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}
.keyboard-container::before{
    content: "";
    position: absolute;
    top:-13px;
    left:-5px;
    width:100%;
    border-bottom: 15px solid #111110;
    transform:rotate(180deg);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.grid-container:first-child{
    padding-top:12px;
}

.grid-item{
    animation-name: rgb;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 100%;
    height: 100%;
    font-size:70%;
    border: 1px solid black;
    border-radius: 3px;
    
}

.others-container{
    grid-area:others;
    justify-items: center;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
   
    grid-template-areas:
        'statistics'
        'display'
        'timer'
        'start';
}

.display{
    grid-area:display;
    place-self: center;
    align-self: end;
    width: 8vw;
    height: 4vh;
    border: 2px solid #606060;
    box-shadow: #606060 1px 1px 4px 2px;
    text-align: center;
    font-size:15px;
    border-radius:2px;
    z-index:5;
}

.start-practise-button{
    border:2px solid transparent;
    outline: 0;
    border-radius:5px;
    background-color:cyan;
}

.start-practise-button:focus{
    border: 2px solid blue !important;
    border-radius:5px;
}

.attempts-container{
    display:grid;
    grid-area: display;
    place-self: center;
    justify-self: start;
    top:5vw;
    height: 22vh;
    width: 25.5vw;
    background-color: #1f1f1e;
    grid-template-columns: repeat(2, 15vw);
    grid-template-rows: repeat(1, 22vh);
    border-top-color: transparent;
}
.attempts-item{
    font-size:2vw;
    font-weight: 400;
    margin-right:2vw;
}

.number{
    font-size:10vh;
    margin-top:0;
}

.attempts-item:nth-child(1){
    text-align: center;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #606060;
}
.attempts-item:nth-child(2){
    text-align: center;
    margin-right:6vw;
}

.text-to-top{
    position: relative;
    bottom:2.5vh;
    text-align:center;
    color: white;
    margin-bottom:0px;
}

.timer{
    grid-area:timer;
    place-self: center;
    color:white;
    font-size:18px;
}

.display-results{
    grid-area: results;
    place-self: center;
    justify-self: end;
    height: 22vh;
    width: 25vw;
    background-color: #1f1f1e;
    color:white;
    z-index:15;
}
.not-eligible{
    display:none;
}
.result-items{
    margin: 3px !important;
    font-size:12px;
}

.one-letter{
    display: inline-block; 
    margin-top:0.5vh;
    text-align: center;
}

@keyframes rgb{
    0%{
      box-shadow: 0 0 4px 4px red;
      color:red;
    }
    8%{
      box-shadow: 0 0 4px 4px Lime;
      color:lime;
    }
    16%{
        box-shadow: 0 0 4px 4px blue;
        color:blue;
    }
    24%{
        box-shadow: 0 0 4px 4px yellow;
        color:yellow;
      }
    32%{
        box-shadow: 0 0 4px 4px cyan;
        color:cyan;
      }
    40%{
        box-shadow: 0 0 4px 4px magenta;
        color:magenta;
    }
    48%{
        box-shadow: 0 0 4px 4px maroon;
        color:maroon;
    }
    56%{
        box-shadow: 0 0 4px 4px olive;
        color:olive;
    }
    64%{
        box-shadow: 0 0 4px 4px green;
        color:green;
    }
    72%{
        box-shadow: 0 0 4px 4px purple;
        color:purple;
    }
    80%{
        box-shadow: 0 0 4px 4px teal;
        color:teal;
    }
    88%{
        box-shadow: 0 0 4px 4px navy;
        color:navy;
    }
    100%{
        box-shadow: 0 0 4px 4px green;
        color:green;
    }
    
}

@media only screen and (max-height: 1024px) and (max-width:1280px){
    .typing-container{display:none}
    .not-eligible{
        display:grid;
        text-align: center;
        padding-top:17%;
        height: 100%;
        color:white;
        font-size:36px;
    }
}

@media only screen  and (max-width:1700px){
    .keyboard-container::after{
      
        width:95%;
     
    } 
}

@media only screen  and (max-width:1446px){
    .keyboard-container::after{
      
        width:94.3%;
     
    } 
}