.sliding-puzzle-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 15%  75% 10%;
  grid-template-areas: 'tops' 'display' 'bottoms';
}
.box-border{
  display:grid;
  grid-template-columns: repeat(3,32%);
  column-gap: 2%;
  row-gap:2%;
  margin: 1%  auto;
  width: 50%;
  height: 82%;
  border: 5px solid lightskyblue;
  padding: 1%;
}

.card-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  text-align: center;
  font-size: 5em;
  font-weight: 700;
  
}

.card-white{
  width: 100%;
  height: 100%;
  background-color: white;

}

.card-box:hover{
  cursor: pointer;
}


.finished{
  margin-top:2%;
  font-size: 4vw;
  text-align:center;
  grid-area:tops;
}

.new-game-button-sp{
  display:block;
  font-size:13px;
  margin:0 auto;
  text-align: center;
  width:120px;
  height: 20px;
  grid-area: bottoms;
}

@media only screen and (max-width: 500px){
  .card-box{
    font-size:3.75em
  }
  .box-border{
    width: 70%;
  }
  .finished{
    
    font-size: 8vw;
    align-self: center;
  }
}

@media only screen and (max-height: 720px){
  
  .card-box{
    font-size:2em
  }
  .box-border{
    width: 70%;
  }
 
}

@media only screen and (max-height: 280px){
  
  .card-box{
    font-size:1.5em
  }

 
}


