.portfolio-container{
   
    margin-top:7%;
    margin-left:auto;
    margin-right:auto;
    width:58%;
    margin-bottom:4%;
    z-index:100;    
}

.inner-portfolio{
    display:grid;
    position: relative;
    width:100%;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(10, 28%);
    row-gap:5%;
    justify-content:center
}

.portfolio-title{
    margin-bottom:6%;
    position: relative;
}

.box{
    position: relative;
    width:100%;
    height:100%;
  
    z-index:5;
}

.port-title{
    color:white;    
    margin-top:1%;   
}

.port-title:hover{
    cursor:pointer;
    color: rgba(195,155,211)
}



.small-pic-size{
    position: relative;
    display: block;
    top:6px;
    width: 93%;
    height:87%;
    z-index:6;
}

.pic-hover{
    position: absolute;
    margin-left:4%;
    margin-top:6.4%;
    z-index:15;
    height:100%;
    width:0px;
   
    animation-name: on-hover-pic ;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.pic-unhover{
    position: absolute;
    margin-left:4%;
    margin-top:6.4%;
    z-index:15;
    height:100%;
    width:0px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    animation-name: on-unhover-pic ;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}



.center-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0);
  fill:rgba(0,0,0,0);
  position: relative;
    z-index:300;
    top:40%;
}

.icon{
   position: relative;
    cursor: pointer;
    border-radius: 5px !important;
    height:32px !important;
    width:38px !important;
    color:rgba(0,0,0,0);
    fill:rgba(0,0,0,0);
    margin-left:4px;
    z-index: 152;
    
    animation-name: icon-slide-in;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}

.hide-icons{
    position: absolute;
    color:rgba(0,0,0,0);
    height:0px !important;
    width:0px !important;
}

.icon-unhover{
    position: relative;
     cursor: pointer;
     border-radius: 5px !important;
     height:32px !important;
     width:38px !important;
     color:rgba(0,0,0,0);
     margin-left:4px;
     z-index: 152 ;     
     animation-name: icon-slide-out;
     animation-duration: 400ms;
     animation-timing-function: ease-in-out;
     animation-fill-mode: forwards;
     pointer-events: none;
     fill:rgba(0,0,0,0);
 }

.shadow{
    position:fixed;
    overflow: hidden;
    top:0;
    left:0;
    height: 100vh;
    width:100vw;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}



.big-pic{
    display: block;
    margin:7%  auto;
    width: 70%;
    height:70%;
    z-index:1001;
}


.close-button{
    position: absolute;
    cursor:pointer;
    right: 30px;
    top:15px;
    background:rgba(195,155,211,0.5);
    width:38px !important;
    height:38px !important;
    border-radius: 50%;
    z-index:171;
}

.close-button:hover{
    background:rgba(195,155,211);
}

.component-container{
    
    margin:7% auto;
    background-color: #292929;
    border-radius: 5px;
    width:70%;
    height:70%;
}



.cba{
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    padding-top:17%;
}

.no-image{
    position: relative;
    background: #292929;
    display: block;
    margin-left:auto;
    margin-right:auto;
    top:6px;
    width:334px;
    height:190px;
    z-index:6;
}

.gray-bg{
    position: relative;
    display: block;
    margin-bottom:17.5%;
    width: 93%;
    height:20vh;
    z-index:6;
    
    background-color:rgba(255,255,255, 0.5);
}



@keyframes icon-slide-in {
    0%{
     
        color:rgba(0,0,0,0);
        fill:rgba(0,0,0,0);
    }
    50%{
        
        color:rgba(0,0,0,0);
        fill:rgba(0,0,0,0);
    }
    
    100%{
       
   color:rgba(255,255,255,1);
   fill:rgba(255,255,255,1);
    }
}

@keyframes icon-slide-out {
    0%{
    
   color:rgba(255,255,255,1);
   fill:rgba(255,255,255,1);
    }
    50%{
        
    color:rgba(0,0,0,0);
    fill:rgba(0,0,0,0);
        }
    100%{
    
   color:rgba(0,0,0,0);
   fill:rgba(0,0,0,0);
    }
}


@media only screen and (max-width: 1366px){
    .portfolio-container{
        height: 80%;
        margin-top:7%;
        margin-left:1.2%;
        width:100%;
        margin-bottom:4%;
        grid-template-columns: repeat(3, 33%);
    }
}



@keyframes on-hover-pic{
    0%{
        background: rgba(195,155,211,0.8);
        width:0;
        height: 72%;
    }
    100%{
        background: rgba(195,155,211,0.8);
        width:84.6%;
        height: 72%;
    }
}

@keyframes on-unhover-pic{
    0%{
        background: rgba(195,155,211,0.8);
        width:84.6%;
        height: 72%;
    }
    100%{
        background: rgba(195,155,211,0.8);
        width:0;
        height: 72%;
    }
}


@media only screen and (max-width: 1024px){
    
    .inner-portfolio {
        grid-template-columns: repeat(2, 48%);
        grid-template-rows: repeat(12, 23%);
        row-gap:1.7%;
        margin:0 auto;
        
        justify-content:center
    }
    .portfolio-title{
        margin-bottom:2%;
    }
    .pic-hover{
        cursor: pointer;
    }

}



@media only screen and (max-width: 500px){


    .inner-portfolio {
        grid-template-columns: repeat(1, 73%);
        grid-template-rows: repeat(12, 13%);
        row-gap:1.1%;
     
    }
    .portfolio-title{
        margin-bottom:2%;
    }
    .big-pic{
        display: block;
        margin:50%  auto;
        width: 90%;
        height:40%;
        z-index:1001;
    }
    .pic-hover{
        cursor: pointer;
    }

}
