.parent-container{
 margin:auto;
 text-align: center;
 
}

.mi-icons{
    position: relative;
    margin:0 2px;
    color:white;
   font-size: 2.5rem !important;
    margin-top:10%;
}

.mi-git-icon{
    position: relative;
    margin:0 2px;
    margin-bottom:4px;
    color:white;
   font-size: 1.98rem !important;
    margin-top:10%;
}

.home-style{
    font-family: 'Raleway';
    font-size:40px;
    display: inline;
    
}

.center-style{
    margin:auto;
    width:70%; 
}

.center-home{
    margin-top: 0
}


@media only screen and (max-width: 900px){
    .home-style{
        font-family: 'Raleway';
        font-size:30px;
        display: inline;
    }
}
@media only screen and (max-width: 500px){
    .home-style{
        font-family: 'Raleway';
        font-size:30px;
        display: inline;
    }
    .parent-container{
      height: 100vh;
       }
       .center-home{
        margin-top: 35%;
    }
}


