.about-container{
    
    margin-top:7%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:4%;
    width:60%;
}

.img-left{
    margin-top:4%;
    float: left;
    width:28vw;
    height:45vh;
}

.top-space{
    margin-top:5%;
}

.thub-left{
    
    
    float: left;
    width:30% !important;
    height:45% !important;
}
.text-left{
    margin-top:1%;
    margin-left:3%;
  
    font-size: 16px;
   
}

.bullets{
    list-style-type:none;
}

.li-text{
    font-size:17px;
    color:rgba(255,255,255, 0.5);
}

.li-after-bullets{
    min-width: 140px;
    display: inline-block;
    position: relative;
    margin-right: 7px;
}

.li-after-bullets::after{
    content: ":";
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
}
.sub-title-about{
    color:rgb(195,155,211);
    margin-top:0;
    padding:0;
    margin-bottom:2%;
    height:32px !important;
  
    line-height: 60%;
}

@media only screen and (max-width: 1366px){
    .about-container{
        height: 80%;
        margin-top:7%;
        margin-left:1.2%;
        width:100%;
        margin-bottom:4%;
    }
    .img-left{
        margin-top:4%;
        float: left;
        width:30%;
        height:40vh;
        padding-right:3%;
    }
    .text-left{
        margin-top:1%;
        margin-left:3%;
        font-size: 16px;
        width:90%;
    }
    
    .bullets{
        list-style-type:none;
    }
    
    .li-text{
        font-size:17px;
        color:rgba(255,255,255, 0.5);
    }
    
    .li-after-bullets{
        min-width: 140px;
        display: inline-block;
        position: relative;
        margin-right: 7px;
    }
    
    .li-after-bullets::after{
        content: ":";
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
    }
}



@media only screen and (max-width: 900px){
    .img-left{
        margin-top:2%;
        float: left;
        width:22%;
        height:10%;
        
        padding-right:2%;
    }
    .text-left{
        margin-top:1%;
        margin-left:3%;
        font-size: 16px;
       
    }
    .sub-title-about{
        color:rgb(195,155,211);
        margin-top:4.5%;
        padding:0;
        margin-bottom:2%;
    }
    .bullets{
        margin-left:30%;
    }
}

@media only screen and (max-width: 500px){
    .about-container{
        height: 100vh;
    }
   
    .img-left{
        margin-top:10%;
        float: left;
        width:38%;
        height:30.5%;
        margin-left:3%;
        padding-right:2%;
    }
    .text-left{
        margin-top:2%;
        font-size: 14px;
       
    }
    .sub-title-about{
        color:rgb(195,155,211);
        margin-top:8.3%;
        padding:0;
        margin-bottom:2%;
    }
    
    .bullets{
        margin-left:0;
    }
    .thub-left{
        float: left;
        width:45% !important;
        margin:0 !important;
        padding:0 !important;
    }
}