.half-star {
    stop-color:rgba(220, 220, 220, 0.5);
    
   }

.star-size{
    font-size: 3rem !important;
}
   
 .other-half-star{
     stop-color:rgba(220, 220, 220, 0.5);
    
 }

 .coloring-star:nth-child(1){
    animation-name: half-star;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    background: transparent;
}

@keyframes half-star{
    0%{
        stop-color:rgba(220, 220, 220, 0.5);
    }
    100%{
        stop-color:#C39BD3;
    }
}