.star{
    display:inline-block;
    position: relative;
    color:#C39BD3;
    font-size: 3rem !important;
    margin:0 0 0 1%;
}



.act:nth-child(1){
    animation-name: star-active;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    background: transparent;
}
.act:nth-child(2){
    animation-name: star-active;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    background: transparent;
}
.act:nth-child(3){
    animation-name: star-active;
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    background: transparent;
}
.act:nth-child(4){
    animation-name: star-active;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    background: transparent;
}
.act:nth-child(5){
    animation-name: star-active;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    background: transparent;
}

.skills-title{
   
    margin:5% 0 2% 1% ;
    padding:0 2% 0 0;
}

.skills-container{
    display: grid;
    position: relative;    
    width:100%;
    
    grid-template-columns: repeat(3, 30%)
}

.skills-p{
    margin:0 0 1% 2%;
    font-size:18px;
    color:#C39BD3
}

.percentage{
    position: absolute;
    font-size:18px;
    margin-top:12px;
}

.stars-ui{
    position: relative;
   
}

@keyframes star-active{
    0%{
        color:rgba(0,0,0,0.5);
        fill:rgba(0,0,0,0.5);
    }
    100%{
        color:#C39BD3;
        fill:#C39BD3;
    }
}
@media only screen and (max-width: 900px){
    .skills-container{
           
        width:100%;
       
        grid-template-columns: repeat(2, 48%)
    }
}
@media only screen and (max-width: 500px){
    .container-star{
        
    margin-left: 18%;

    }
    .skills-container{
        width:100%;
        grid-template-columns: repeat(1, 100%)
    }
}


