.background-container{
    display:flex;
 
    width:100%;
    background-color:black ;
    
    background-image: 
    radial-gradient(at 56% 50%, #0c0c0c, transparent);
    padding:0;
    margin: 0;
    color:white;
    animation-name: background-transition;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.sub-title{
    color:rgb(195,155,211)
}

.sub-container{
    height: 80%;
    margin-top:7%;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    margin-bottom:4%;
    justify-content: center;
}

.main-title-large{
    font-size:42px;
    
   position: relative;
}
.main-title-shadow{
    font-size:42px;
    /* color:rgba(195,155,211, 0.2);   */
    color:none;
    position: absolute;
    top:34px;
    left:3px;
    font-style:italic;
    transform:rotateX(180deg);
}
.center-title{
    margin-left: 0.2%
}

@keyframes background-transition{
    0%{
        background-color: #0e0e0e;
        
    }
    10%{
        
        background-color: #151515;
    }
    20%{
        background-color: #1f1f1f;
    }
    30%{
         background-color: #212121;
    }
    40%{
        background-color: #242424;
    }
    50%{
       background-color: #272727;
    }
    60%{
        background-color: #2c2c2c;
    }
    70%{
        background-color: #303030;
    }
    80%{
        background-color: #353535;
    }
    90%{
        background-color: #3a3a3a;
    }
    100%{
        background-color: #3b3b3b;
    }
}

@media only screen and (max-width: 1366px){
    .sub-container{
        height: 80%;
        margin-top:7%;
        margin-left:1%;
        
        justify-content: center;
    }
}

@media only screen and (max-width: 1100px){
    .background-container{
        margin-left:64px
    }
   
}

@media only screen and (max-width: 900px){
    .main-title-large{
        margin-right:3%;
        margin-top:0;
        margin-bottom:0;
    }
    .main-title-large{
        font-size:38px;
        
       position: relative;
    }
   
}


@media only screen and (max-width: 500px){

    .background-container{
        margin-left:0;
    }

    .main-title-large{
        margin-right:3%;
        margin-top:7%;
        text-align: center;
        margin-bottom:0;
    }
    .main-title-large{
        font-size:36px;
        
       position: relative;
    }
   
   
}
