
.boxs {
  display:grid;
  grid-template-columns: repeat(3,33%);
  grid-template-rows: 3;
  margin: auto;
  max-width: 35%;
  height: 70%;
  padding: 5px;
  
}

.tile {
  text-align: center;
  border: 4px solid white;
  width: 100%;
  height: 100%;
  
  margin:auto;
  display: flex;
  position: relative;

}

.tile:nth-child(1) {
  border-left: transparent;
  border-top: transparent;
  margin-bottom: -8px;
}
.tile:nth-child(4){
  border-left: transparent;
  border-top: transparent;
  margin-bottom: -4px;
}
.tile:nth-child(2)  {
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  margin-bottom: -8px;
}
.tile:nth-child(5)  {
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  margin-bottom: -4px;
}
.tile:nth-child(3) {
  border-top: transparent;
  border-right: transparent;
  margin-bottom: -8px;
}
.tile:nth-child(6) {
  border-top: transparent;
  border-right: transparent;
  margin-bottom: -4px;
}
.tile:nth-child(7) {
  border: transparent;
}
.tile:nth-child(8), .tile:nth-child(9) {
  border-top: transparent;
  border-right: transparent;
  border-bottom: transparent;
}
.circle {
  position: absolute;
  display:flex;
  top:15%;
  width: 70%;
  height: 70%;
  right:13%;
  justify-content: center;
  align-items: center;
  margin: auto;
  
  border: 4px solid red;
  border-radius: 50%
}

.cross {
  display:flex;
  width: 100%;
  
}

.cross:before, .cross:after {
 content: "";
 position: absolute;
  top:100%;
}

.cross:before {
  border-top: 4px solid aquamarine;
 width: 100%;
 top: 50%;
 right:4%;
 transform: rotate(45deg);
}

.cross:after {
  border-top: 4px solid aquamarine;
 
  width: 100%;
  right:4%;
  top: 50%;
 transform: rotate(135deg);
}
#test.tile:hover:after{
  content: '';
 
  position: absolute;
  display:flex;
  top:15%;
  width: 70%;
  height: 70%;
  right:13%;
  justify-content: center;
  align-items: center;
  margin: auto;
  
  border: 4px solid red;
  border-radius: 50%;
  opacity: 0.4;
}

#test1.tile:hover{
  content: '';
  
  width: 100%;
  height: 100%;
}


#test1.tile:hover:after {
  content: '';
  border-top: 4px solid aquamarine;
  width: 100%;
  right:4%;
  top: 50%;
  transform: rotate(135deg);
 position: absolute;
 opacity: 0.4;
}

#test1.tile:hover:before {
  content: '';
  border-top: 4px solid aquamarine;
  width: 100%;
  top: 50%;
  right:4%;
 transform: rotate(45deg);
 position: absolute;
 opacity: 0.4;
}

.new-game-button{
  display:block;
  font-size:13px;
  margin:0 auto;
  margin-top:1%;
  text-align: center;
  width:120px;
  height: 20px;
}

.won{
  position: relative;
  font-size: 4vw;
  text-align:center;
  
}

@media only screen and (max-width: 900px){
  .boxs {
    display:grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: 3;
    margin: auto;
    max-width: 70%;
    height: 70%;
    padding: 5px;
    
    
  }
  
}
@media only screen and (max-width: 500px){
  .boxs {
    
    max-width: 100%;
    height: 70%;
    margin-bottom:5%;
    
  }
  
}

@media only screen and (max-height:420px){
  .cross {
    display:flex;
    width: 60%;
    
  }
  
  .cross:before, .cross:after {
   content: "";
   position: absolute;
    top:60%;
  }
  
  .cross:before {
    border-top: 4px solid aquamarine;
    left:25%;
    width: 50%;
    top:50%;
    transform: rotate(45deg);
  }
  
  .cross:after {
    border-top: 4px solid aquamarine;
    left:25%;
    width: 50%;
    top: 50%;
    transform: rotate(135deg);
  }

  #test1.tile:hover{
    content: '';
  
    width: 100%;
    height: 100%;
    
  }
  
  
  #test1.tile:hover:after {
    content: '';
    border-top: 4px solid aquamarine;
    left:25%;
    width: 70%;
    top: 50%;
    transform: rotate(135deg);
   position: absolute;
   opacity: 0.4;
  }
  
  #test1.tile:hover:before {
   content: '';
   border-top: 4px solid aquamarine;
   left:25%;
   width: 70%;
   top:50%;
   transform: rotate(45deg);
   position: absolute;
   opacity: 0.4;
  }
  .circle {
    top:15%;
    left:15%;
    width: 50%;
    height: 70%;
    
  }
  #test.tile:hover:after{
    top:15%;
    left:15%;
    width: 50%;
    height: 70%;
  }
}